<footer class="wrapper region">
    <p><a href="https://github.com/loweezzt/wsp1-boilerplate">Github</a>.</p>
    <p> Lowe V <a
            href="https://github.com/loweezzt/wsp1-boilerplate/issues">issue</a> på Github.</p>
</footer>