{% extends "layout.njk" %}

{% block content %}
{% include "components/header.njk" %}
<main class="wrapper">
    <p>Lära mig mappstruktur och felhanteringar.</p>
    <ul>
        <li>npm run dev</li>
        <li>npm test</li>
        <li>npm start</li>
    </ul>
    <p>YOOO</p>
</main>
{% include "components/footer.njk" %}
{% endblock %}