body {
  background-color: darkslategrey;

}
h1, h2 {
  color: #af6060;
  text-align: center;
  margin-bottom: 50px;
  font-size: 4rem;

}
.wrapper {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
}

.region {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.title {
    text-align: center;
    margin-top: 0;
}

.header-flex {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
        margin-top: 0;
    }
}
.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 25px;

}
.movies article {
  transition: transform 0.3s ease;
}

.movies article:hover {
    transform: scale(1.1);
}